{% extends 'base.html' %}

{% block content %}
{% if products|length == 0 %}
<div class="container">
    <div class="row">
        <h1>Корзина пуста</h1>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        {% for prod in products %}
        <div class="col-12 prod_card">
            <div class="row">
                <div class="col-2">
                    <img src="{{url_for('static', filename='img/' + prod.sweet_product.image)}}" class="img_prod_card" alt="...">
                </div>
                <div class="col-2">
                    <h2>{{prod.sweet_product.name}}</h2>
                </div>
                <div class="col-3">
                    <p> ингридиенты: {% for i in prod.sweet_product.ingredients %}
                        {{i.name}}
                        {% endfor %}</p>
                    <p>кол: {{prod.count}}</p>
                </div>
                <div class="col-3">
                    <p>общаяя цена: {{prod.count * prod.price}}</p>
                </div>
                <div class="col-2">
                    <a href="{{url_for('user_blueprint.delete_car',  uuid=prod.sweet_product.trace_id)}}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <h2>{{sum_cart}}</h2>
        <a href="{{url_for('user_blueprint.create_order')}}" class="btn btn-success">Оформить заказ</a>
    </div>
</div>
{% endif %}
{% endblock %}